name: CI
on: push
permissions:
  contents: write
  pull-requests: write
jobs:
  build:
    if: ${{ ! (startsWith(github.event.head_commit.message, 'chore:') || startsWith(github.event.head_commit.message, 'docs')) }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Gradle build
      run: ./gradlew build

    - name: Release branch?
      id: release-branch
      run: |
        echo $GITHUB_REF_NAME | grep -Pq '^\d+\.\d+$' && echo 'matches=true' || echo 'matches=false' >> $GITHUB_OUTPUT

    - name: Release please
      id: release
      if: ${{ github.ref_name == 'master' || steps.release-branch.outputs.matches == 'true' }}
      uses: googleapis/release-please-action@v4
      with:
        target-branch: ${{ github.ref_name }}

    - name: Publish
      if: ${{ steps.release.outputs.release_created }}
      env:
        RELEASE_VERSION: ${{ steps.release.outputs.tag_name }}
        ORG_GRADLE_PROJECT_sonatypeSigningKey: ${{ secrets.GPG_KEY }}
        ORG_GRADLE_PROJECT_sonatypeSigningSecret: ${{ secrets.GPG_SECRET }}
        ORG_GRADLE_PROJECT_sonatypeMavenCentralUser: ${{ secrets.SONATYPE_USER }}
        ORG_GRADLE_PROJECT_sonatypeMavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
      run: ./gradlew -Prelease.forceVersion=$RELEASE_VERSION createRelease && ./gradlew publishToSonatype
